<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.getchannels.channels-transcoder.plist</string>
    <key>Nice</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>${HOME}/Library/Application Support/channels-transcoder/log</string>
    <key>StandardErrorPath</key>
    <string>${HOME}/Library/Application Support/channels-transcoder/log.err</string>
    <key>ProgramArguments</key>
    	<array>
		<string>caffeinate</string>
		<string>-s</string>
        	<string>/usr/local/bin/channels-transcoder.sh</string>
    	</array>
    <key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>00</integer>
		<key>Minute</key>
		<integer>01</integer>
	</dict>
</dict>
</plist>
